<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Alata&display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      href="https://raw.githubusercontent.com/Alex123434/Uni-Projects/master/favicon.ico"
      type="image/x-icon"
    />

    <title>Woman | Nove</title>
  </head>
  <body>
    <div class="containerIntro">
      <nav class="nav">
        <div class="navLeft">
          <a href="{{ url_for('Home') }}"> &#x1F3E0;</a>
          <a href="{{ url_for('LogSignAcc') }}">&#x1F464;</a>
        </div>
        <a href="{{ url_for('Home') }}" class="logo">Nove</a>
        <div class="navRight">
          <input type="text" class="searchBox" placeholder="&#x1F50D; Search" />
          <a id="cart">&#x1F6D2;</a>
        </div>
      </nav>
    </div>

    <div class="PageCover">
      <video class="CoverVideo" autoplay muted loop>
        <source
          src="https://videos.pexels.com/video-files/2183769/2183769-hd_1920_1080_24fps.mp4"
          type="video/mp4"
        />
        Your browser does not support the video tag.
      </video>
    </div>

    <p class="Title">Dresses</p>

    <div class="Products">
      <div class="ProductTag">
        <div class="Tag">
          <a href="{{ url_for('Woman') }}"><button>Bestseller</button></a>
        </div>
        <div class="Tag">
          <a href="{{ url_for('SneakersWoman') }}"><button>Sneakers</button></a>
        </div>
        <div class="Tag">
          <a href="{{ url_for('TrousersWoman') }}"><button>Trousers</button></a>
        </div>
        <div class="Tag">
          <a href="{{ url_for('HoodieWoman') }}"><button>Hoodies</button></a>
        </div>
      </div>
    </div>

    <div class="Products">
      <div class="ProductsContainer">
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/b2de/1561/ad384abc955c/f6acc78d7d52/0739132381800-A7M/0739132381800-A7M.jpg?ts=1731599246628&w=580&f=auto"
            alt="Product Image"
          />
          <p>Midi Lenght Dress</p>
          <p class="Price">40.00 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/1976/4fd4/3c004f8ab585/fca67f06661e/07391343800-A7M/07391343800-A7M.jpg?ts=1730298750939&w=580&f=auto"
            alt="Product Image"
          />
          <p>Bare Back Dress</p>
          <p class="Price">9.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/d703/e3c3/26db47dfbf27/a04478ffcf6e/07390225807-M/07390225807-M.jpg?ts=1722267898464&w=580&f=auto"
            alt="Product Image"
          />
          <p>Grey Dress</p>
          <p class="Price">20.00 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/9838/7640/225649d9970c/6391338ec631/03397309312-A7M/03397309312-A7M.jpg?ts=1733314870939&w=580&f=auto"
            alt="Product Image"
          />
          <p>Short Black Dress/p></p>
          <p class="Price">29.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/233c/5c4a/373c4455afe4/986f258cefcb/07391312711-M/07391312711-M.jpg?ts=1727778217881&w=580&f=auto"
            alt="Product Image"
          />
          <p>White Dress</p>
          <p class="Price">20.00 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/3878/7347/1fe64cf5823a/f30abaaafb88/07391317832-M/07391317832-M.jpg?ts=1734623255622&w=580&f=auto"
            alt="Product Image"
          />
          <p>Long Dress</p>
          <p class="Price">14.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/4b24/9beb/b9384579baca/028fdbae17e4/07391329681-A1M/07391329681-A1M.jpg?ts=1732209501287&w=580&f=auto"
            alt="Product Image"
          />
          <p>Short Dress</p>
          <p class="Price">40.00 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/3419/b961/082846cf820b/b31a9602efcd/07390465800-A7M/07390465800-A7M.jpg?ts=1727856399515&w=580&f=auto"
            alt="Product Image"
          />
          <p>Halter Black Dress</p>
          <p class="Price">17.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/bde3/83f9/1f6245759bd4/aa69a2b00bad/07390379081-M/07390379081-M.jpg?ts=1726503981498&w=580&f=auto"
            alt="Product Image"
          />
          <p>White Short Dress</p>
          <p class="Price">22.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/c317/dbf2/e3bb4382a61c/039a043fbdd0/03397371514-M/03397371514-M.jpg?ts=1733936408835&w=580&f=auto"
            alt="Product Image"
          />
          <p>Midi Length Green Dress</p>
          <p class="Price">20.00 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/3cbc/4c03/9b0a4e148b91/a622b67bf385/07390412615-M/07390412615-M.jpg?ts=1721806705738&w=580&f=auto"
            alt="Product Image"
          />
          <p>Midi Cut Out Dress</p>
          <p class="Price">29.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/a80b/1bea/0f574066b612/d4a8f8b0bddf/07391421610-A1M/07391421610-A1M.jpg?ts=1726139712338&w=580&f=auto"
            alt="Product Image"
          />
          <p>Purple Halter Dress</p>
          <p class="Price">22.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/8175/5966/02fa43999497/b18dd1809c70/07390460681-M/07390460681-M.jpg?ts=1721659235948&w=580&f=auto"
            alt="Product Image"
          />
          <p>Red Dress</p>
          <p class="Price">15.00 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/8eb4/484b/7aec4c6fa415/2382871d6488/07390383622-M/07390383622-M.jpg?ts=1721663568576&w=580&f=auto"
            alt="Product Image"
          />
          <p>Pink Dress</p>
          <p class="Price">29.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/d90a/3be5/9bca442e9a24/d4a8b16304df/07390388700-M/07390388700-M.jpg?ts=1722350936544&w=580&f=auto"
            alt="Product Image"
          />
          <p>Animal Print Dress</p>
          <p class="Price">25.99 €</p>
          <button>Buy</button>
        </div>
      </div>
    </div>

    <footer>
      <div class="Footer">
        <div class="FooterContainer">
          <div class="FooterLeft">
            <p>Content</p>
            <a href="{{ url_for('About') }}">About</a>
            <a href="{{ url_for('Man') }}">Man</a>
            <a href="{{ url_for('Woman') }}">Woman</a>
            <p>Contact</p>
            <a href="mailto:info@nove.com">info@nove.com</a>
          </div>
          <div class="FooterMiddle">
            <p>&copy; 2024 Nove. All rights reserved.</p>
          </div>
        </div>
      </div>
    </footer>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
