<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Alata&display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      href="https://raw.githubusercontent.com/Alex123434/Uni-Projects/master/favicon.ico"
      type="image/x-icon"
    />

    <title>Home | Nove</title>
  </head>
  <body>
    <div class="containerIntro">
      <nav class="nav">
        <div class="navLeft">
          <a href="{{ url_for('Home') }}"> &#x1F3E0;</a>
          <a href="{{ url_for('LogSignAcc') }}">&#x1F464;</a>
        </div>
        <a href="{{ url_for('Home') }}" class="logo">Nove</a>
        <div class="navRight">
          <input type="text" class="searchBox" placeholder="&#x1F50D; Search" />
          <a id="cart">&#x1F6D2;</a>
        </div>
      </nav>
    </div>

    <div class="Selection">
      <div class="selectionContainer">
        <div class="homeImg" id="Man">
          <a href="{{ url_for('Man') }}"><button>Man</button></a>
        </div>
        <div class="homeImg" id="Woman">
          <a href="{{ url_for('Woman') }}"><button>Woman</button></a>
        </div>
      </div>
    </div>

    <p class="Title">Bestseller</p>

    <div class="Products">
      <div class="ProductsContainer">
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/081e/a10c/c3c64cc3b04d/0985acc2621e/03687502833-A6M/03687502833-A6M.jpg?ts=1727789141176&w=572&f=auto"
            alt="Product Image"
          />
          <p>Baggy Jeans</p>
          <p class="Price">29,99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/5d83/d586/831541daabf3/813ff3564f6a/07591524700-a6m/07591524700-a6m.jpg?ts=1730819217190&w=572&f=auto"
            alt="Product Image"
          />
          <p>Hoodie</p>
          <p class="Price">29,99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/3596/4f6b/d04b46d89a5f/6050a7a70d7a/07249900251-a6m/07249900251-a6m.jpg?ts=1733137699015&w=572&f=auto"
            alt="Product Image"
          />
          <p>Boxy Fit Shirt</p>
          <p class="Price">14,99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/c9a9/6c0b/0ac44177b920/90b1d1ec64af/07252373800-A6M/07252373800-A6M.jpg?ts=1727189567030&w=572&f=auto"
            alt="Product Image"
          />
          <p>Zip Neck</p>
          <p class="Price">9.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/c18e/9a1d/15524a8ca47e/70e07dcb22ef/07685524922-A6M/07685524922-A6M.jpg?ts=1722957201123&w=572&f=auto"
            alt="Product Image"
          />
          <p>Skater Jeans</p>
          <p class="Price">29.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/6918/30bf/763b41538fe5/d4697214770e/03243526800-A6M/03243526800-A6M.jpg?ts=1720183372221&w=572&f=auto"
            alt="Product Image"
          />
          <p>Car Shirt</p>
          <p class="Price">14.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/9037/764e/476d4462b02a/8dd5360c924e/07771311481-M/07771311481-M.jpg?ts=1731055898273&w=580&f=auto"
            alt="Product Image"
          />
          <p>Short Coat</p>
          <p class="Price">39.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/0878/bd75/ac11411f885c/625e6cde7825/07710325500-A6M/07710325500-A6M.jpg?ts=1724331998214&w=572&f=auto"
            alt="Product Image"
          />
          <p>Puffy Jacket</p>
          <p class="Price">29.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/8b97/c4c5/e5864bdab506/3ea33f4d1ee8/12225440002-m/12225440002-m.jpg?ts=1728985555342&w=580&f=auto"
            alt="Product Image"
          />
          <p>Sneakers</p>
          <p class="Price">19.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/9574/b67b/be974639ba0b/a77a057a9480/07840309712-M/07840309712-M.jpg?ts=1725536440422&w=572&f=auto"
            alt="Product Image"
          />
          <p>Basic Scarf</p>
          <p class="Price">9.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/5216/1d22/b6b64cddb2ab/bef5657a520c/07711517711-M/07711517711-M.jpg?ts=1730711077123&w=580&f=auto  "
            alt="Product Image"
          />
          <p>Baggy Coat</p>
          <p class="Price">24,99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/c023/3960/72d041aa94c9/5e67d529ca2a/07590570800-A6M/07590570800-A6M.jpg?ts=1732525604386&w=572&f=auto"
            alt="Product Image"
          />
          <p>Black Zip Hoodie</p>
          <p class="Price">29.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/c2ae/67b4/203b40ab9e71/42a535eafde2/07678513805-M/07678513805-M.jpg?ts=1723623613468&w=580&f=auto"
            alt="Product Image"
          />
          <p>Jogger Pants</p>
          <p class="Price">29.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/dd2d/bef5/93584f9a9ab0/efdfa6d62e3a/07391449700-M/07391449700-M.jpg?ts=1731593663973&w=580&f=auto"
            alt="Product Image"
          />
          <p>Short Dress</p>
          <p class="Price">9.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/b3d1/2253/56454bc4944f/7bbfa85fc8b7/07833500701-M/07833500701-M.jpg?ts=1727708007528&w=580&f=auto"
            alt="Product Image"
          />
          <p>Red Bennie</p>
          <p class="Price">4.99 €</p>
          <button>Buy</button>
        </div>
      </div>
    </div>

    <footer>
      <div class="Footer">
        <div class="FooterContainer">
          <div class="FooterLeft">
            <p>Content</p>
            <a href="{{ url_for('About') }}">About</a>
            <a href="{{ url_for('Man') }}">Man</a>
            <a href="{{ url_for('Woman') }}">Woman</a>
            <p>Contact</p>
            <a href="mailto:info@nove.com">info@nove.com</a>
          </div>
          <div class="FooterMiddle">
            <p>&copy; 2024 Nove. All rights reserved.</p>
          </div>
        </div>
      </div>
    </footer>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
