<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Alata&display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      href="https://raw.githubusercontent.com/Alex123434/Uni-Projects/master/favicon.ico"
      type="image/x-icon"
    />

    <title>Woman | Nove</title>
  </head>
  <body>
    <div class="containerIntro">
      <nav class="nav">
        <div class="navLeft">
          <a href="{{ url_for('Home') }}"> &#x1F3E0;</a>
          <a href="{{ url_for('LogSignAcc') }}">&#x1F464;</a>
        </div>
        <a href="{{ url_for('Home') }}" class="logo">Nove</a>
        <div class="navRight">
          <input type="text" class="searchBox" placeholder="&#x1F50D; Search" />
          <a id="cart">&#x1F6D2;</a>
        </div>
      </nav>
    </div>

    <div class="PageCover">
      <video class="CoverVideo" autoplay muted loop>
        <source
          src="https://videos.pexels.com/video-files/3205785/3205785-sd_640_360_25fps.mp4"
          type="video/mp4"
        />
        Your browser does not support the video tag.
      </video>
    </div>

    <p class="Title">Hoodies</p>

    <div class="Products">
      <div class="ProductTag">
        <div class="Tag">
          <a href="{{ url_for('Woman') }}"><button>Bestseller</button></a>
        </div>
        <div class="Tag">
          <a href="{{ url_for('SneakersWoman') }}"><button>Sneakers</button></a>
        </div>
        <div class="Tag">
          <a href="{{ url_for('DressesWoman') }}"><button>Dresses</button></a>
        </div>
        <div class="Tag">
          <a href="{{ url_for('TrousersWoman') }}"><button>Trousers</button></a>
        </div>
      </div>
    </div>

    <div class="Products">
      <div class="ProductsContainer">
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/17dd/d225/537f4a5eba8c/4079831f7682/07590325512-A3M/07590325512-A3M.jpg?ts=1716302869253&w=580&f=auto"
            alt="Product Image"
          />
          <p>Green Hoodie</p>
          <p class="Price">25.00 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/4048/4eb8/36e94c558331/50a5985c14ec/03594306827-A3M/03594306827-A3M.jpg?ts=1731424473059&w=580&f=auto"
            alt="Product Image"
          />
          <p>Grey Hoodie</p>
          <p class="Price">25.00 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/89c3/86b6/97f34ce68ce6/9dd39150f5d7/07591349687-M/07591349687-M.jpg?ts=1726148529931&w=580&f=auto"
            alt="Product Image"
          />
          <p>Dallas Hoodie</p>
          <p class="Price">29.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/cb6d/eefd/1a1d471fac7f/6b12e3d0e623/07591317800-M/07591317800-M.jpg?ts=1725982551632&w=580&f=auto"
            alt="Product Image"
          />
          <p>Black Oversised Sweater</p>
          <p class="Price">17.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/8746/3a89/4c4c41a6a3e7/c3285d00a23e/03594307501-A3M/03594307501-A3M.jpg?ts=1731424479864&w=580&f=auto"
            alt="Product Image"
          />
          <p>Green Graphic Hoodie</p>
          <p class="Price">15.00 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/084e/691f/ccfa4fb990f6/6b7b27d3b1c9/03594338803-A5M/03594338803-A5M.jpg?ts=1734004984443&w=580&f=auto"
            alt="Product Image"
          />
          <p>Graphic Hoodie</p>
          <p class="Price">25.00 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/22ca/bf6a/a85b435fb300/79bcd485492c/07594325805-A7M/07594325805-A7M.jpg?ts=1721308588622&w=580&f=auto"
            alt="Product Image"
          />
          <p>NYC Hoodie</p>
          <p class="Price">20.00 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/8a89/7f50/55eb45e39e64/6e89b19c799f/07591302105-M/07591302105-M.jpg?ts=1726751449863&w=580&f=auto"
            alt="Product Image"
          />
          <p>Peanut Sweater</p>
          <p class="Price">29.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/1d59/7ac9/30a141dcb77e/f5b3b39e474e/07590324812-M/07590324812-M.jpg?ts=1721659474118&w=580&f=auto"
            alt="Product Image"
          />
          <p>Grey USA Hoodie</p>
          <p class="Price">26.00 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/ec14/2299/018d46c9b88b/1a6f1b9f0906/07590330800-M/07590330800-M.jpg?ts=1724930442190&w=580&f=auto"
            alt="Product Image"
          />
          <p>Basic Black Sweater</p>
          <p class="Price">12.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/ad35/a27b/e11d403ab594/72803f0cc230/03594310803-M/03594310803-M.jpg?ts=1732203665891&w=580&f=auto"
            alt="Product Image"
          />
          <p>Zip Up Hoodie</p>
          <p class="Price">25.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/5d16/1e84/2e5243a796ca/8b83486e9a75/07590352805-M/07590352805-M.jpg?ts=1725887313799&w=580&f=auto"
            alt="Product Image"
          />
          <p>Cropped Hoodie</p>
          <p class="Price">22.00 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/5a85/7c32/b6354b44a24c/f69b60ff911c/03590337250-M/03590337250-M.jpg?ts=1724773701000&w=580&f=auto"
            alt="Product Image"
          />
          <p>Oversised Basic Sweater</p>
          <p class="Price">15.00 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/abe6/018a/9cd34f97b9e0/fc25dae95ddd/07590412620-M/07590412620-M.jpg?ts=1725020245076&w=580&f=auto"
            alt="Product Image"
          />
          <p>Pink Hoodie</p>
          <p class="Price">22.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/d779/939c/5128445d99d5/9c957827a9cd/07590351500-M/07590351500-M.jpg?ts=1724929364311&w=580&f=auto"
            alt="Product Image"
          />
          <p>Cropped Dark Green Sweater</p>
          <p class="Price">10.00 €</p>
          <button>Buy</button>
        </div>
      </div>
    </div>

    <footer>
      <div class="Footer">
        <div class="FooterContainer">
          <div class="FooterLeft">
            <p>Content</p>
            <a href="{{ url_for('About') }}">About</a>
            <a href="{{ url_for('Man') }}">Man</a>
            <a href="{{ url_for('Woman') }}">Woman</a>
            <p>Contact</p>
            <a href="mailto:info@nove.com">info@nove.com</a>
          </div>
          <div class="FooterMiddle">
            <p>&copy; 2024 Nove. All rights reserved.</p>
          </div>
        </div>
      </div>
    </footer>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
