<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Alata&display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      href="https://raw.githubusercontent.com/Alex123434/Uni-Projects/master/favicon.ico"
      type="image/x-icon"
    />
    <title>Man | Nove</title>
  </head>
  <body>
    <div class="containerIntro">
      <nav class="nav">
        <div class="navLeft">
          <a href="{{ url_for('Home') }}"> &#x1F3E0;</a>
          <a href="{{ url_for('LogSignAcc') }}">&#x1F464;</a>
        </div>
        <a href="{{ url_for('Home') }}" class="logo">Nove</a>
        <div class="navRight">
          <input type="text" class="searchBox" placeholder="&#x1F50D; Search" />
          <a href="{{ url_for('ShoppingCart') }}">&#x1F6D2;</a>
        </div>
      </nav>
    </div>

    <div class="PageCover">
      <video class="CoverVideo" autoplay muted loop>
        <source
          src="https://videos.pexels.com/video-files/7764125/7764125-sd_960_506_25fps.mp4"
          type="video/mp4"
        />
        Your browser does not support the video tag.
      </video>
    </div>

    <p class="Title">Man</p>

    <div class="Products">
      <div class="ProductTag">
        <div class="Tag">
          <a href="{{ url_for('HoodieMan') }}"><button>Hoodies</button></a>
        </div>
        <div class="Tag">
          <a href="{{ url_for('TrousersMan') }}"><button>Trousers</button></a>
        </div>
        <div class="Tag">
          <a href="{{ url_for('TShirtsMan') }}"><button>T-Shirts</button></a>
        </div>
        <div class="Tag">
          <a href="{{ url_for('SneakersMan') }}"><button>Sneakers</button></a>
        </div>
      </div>
    </div>

    <div class="Products">
      <div class="ProductsContainer">
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/3596/4f6b/d04b46d89a5f/6050a7a70d7a/07249900251-a6m/07249900251-a6m.jpg?ts=1733137699015&w=572&f=auto"
            alt="Product Image"
          />
          <p>Boxy T-Shirt</p>
          <p class="Price">14,99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/5d83/d586/831541daabf3/813ff3564f6a/07591524700-a6m/07591524700-a6m.jpg?ts=1730819217190&w=572&f=auto"
            alt="Product Image"
          />
          <p>Hoodie</p>
          <p class="Price">29,99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/081e/a10c/c3c64cc3b04d/0985acc2621e/03687502833-A6M/03687502833-A6M.jpg?ts=1727789141176&w=572&f=auto"
            alt="Product Image"
          />
          <p>Baggy Jeans</p>
          <p class="Price">29,99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/f526/eea5/b8db4ad29a4d/ac160b099690/03716523800-A6M/03716523800-A6M.jpg?ts=1728041519086&w=572&f=auto"
            alt="Product Image"
          />
          <p>Anteline Jacket</p>
          <p class="Price">34.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/7657/a233/f16947029542/663f8c055ce6/07710513434-M/07710513434-M.jpg?ts=1722855983803&w=580&f=auto"
            alt="Product Image"
          />
          <p>Standard Jacket</p>
          <p class="Price">26.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/1625/931a/709f40efa7ac/9aff6d8828a1/07710533800-A6M/07710533800-A6M.jpg?ts=1720107233919&w=572&f=auto"
            alt="Product Image"
          />
          <p>Lighweight Coat</p>
          <p class="Price">39.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/20be/91c2/b0814561b8cf/816434f1527a/07710544811-M/07710544811-M.jpg?ts=1726498560667&w=580&f=auto"
            alt="Product Image"
          />
          <p>Baggy Coat</p>
          <p class="Price">34.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/9c95/92f3/056f441ba27c/7e518f725084/07590505400-A6M/07590505400-A6M.jpg?ts=1722954818983&w=572&f=auto"
            alt="Product Image"
          />
          <p>Blue Hoodie</p>
          <p class="Price">19.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/0f3f/ecf2/369e44aa8238/51ab20a8f5ef/07678507711-A6M/07678507711-A6M.jpg?ts=1719306976434&w=572&f=auto"
            alt="Product Image"
          />
          <p>Cargo Pants</p>
          <p class="Price">29.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/2/photos//2024/I/0/2/p/7832/503/500/7832503500_4_1_0.jpg?imwidth=%3Awidth%3A&ts=1719505954471&w=580&f=auto"
            alt="Product Image"
          />
          <p>Ligh Green Hat</p>
          <p class="Price">7.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/c8ec/bfa4/48f8491a8ee6/a2474133214a/07592517501-A6M/07592517501-A6M.jpg?ts=1728478900161&w=572&f=auto"
            alt="Product Image"
          />
          <p>Dark Green Hoodie</p>
          <p class="Price">24.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/1e2c/cf77/bee444ab8182/c6629984c2bb/15012440040-m/15012440040-m.jpg?ts=1717415149368&w=580&f=auto"
            alt="Product Image"
          />
          <p>Black Leather Backpack</p>
          <p class="Price">29.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/ab03/0c70/60f14d21b79e/297a3732638f/03835500800-M/03835500800-M.jpg?ts=1733137181944&w=580&f=auto"
            alt="Product Image"
          />
          <p>Black Beanie</p>
          <p class="Price">4.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/9d3c/235e/7b0f4d058dc8/73d57c651e7a/07245545800-A1M/07245545800-A1M.jpg?ts=1724854160376&w=580&f=auto"
            alt="Product Image"
          />
          <p>Black T-Shirt</p>
          <p class="Price">7.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/57c8/6de4/2e1546b5a02c/6f5e88a70a94/07470509809-M/07470509809-M.jpg?ts=1727096518676&w=580&f=auto"
            alt="Product Image"
          />
          <p>Pana Shirt</p>
          <p class="Price">14.99 €</p>
          <button>Buy</button>
        </div>
      </div>
    </div>

    <footer>
      <div class="Footer">
        <div class="FooterContainer">
          <div class="FooterLeft">
            <p>Content</p>
            <a href="{{ url_for('About') }}">About</a>
            <a href="{{ url_for('Man') }}">Man</a>
            <a href="{{ url_for('Woman') }}">Woman</a>
            <p>Contact</p>
            <a href="mailto:info@nove.com">info@nove.com</a>
          </div>
          <div class="FooterMiddle">
            <p>&copy; 2024 Nove. All rights reserved.</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
