<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Alata&display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      href="https://raw.githubusercontent.com/Alex123434/Uni-Projects/master/favicon.ico"
      type="image/x-icon"
    />
    <title>Man | Nove</title>
  </head>
  <body>
    <div class="containerIntro">
      <nav class="nav">
        <div class="navLeft">
          <a href="{{ url_for('Home') }}"> &#x1F3E0;</a>
          <a href="{{ url_for('LogSignAcc') }}">&#x1F464;</a>
        </div>
        <a href="{{ url_for('Home') }}" class="logo">Nove</a>
        <div class="navRight">
          <input type="text" class="searchBox" placeholder="&#x1F50D; Search" />
          <a href="{{ url_for('ShoppingCart') }}">&#x1F6D2;</a>
        </div>
      </nav>
    </div>

    <div class="PageCover">
      <video class="CoverVideo" autoplay muted loop>
        <source
          src="https://videos.pexels.com/video-files/7884046/7884046-uhd_2732_1440_25fps.mp4"
          type="video/mp4"
        />
        Your browser does not support the video tag.
      </video>
    </div>

    <p class="Title">Sneakers</p>

    <div class="Products">
      <div class="ProductTag">
        <div class="Tag">
          <a href="{{ url_for('Man') }}"><button>Bestseller</button></a>
        </div>
        <div class="Tag">
          <a href="{{ url_for('HoodieMan') }}"><button>Hoodies</button></a>
        </div>
        <div class="Tag">
          <a href="{{ url_for('TrousersMan') }}"><button>Trousers</button></a>
        </div>
        <div class="Tag">
          <a href="{{ url_for('TShirtsMan') }}"><button>T-Shirts</button></a>
        </div>
      </div>
    </div>

    <div class="Products">
      <div class="ProductsContainer">
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/794f/b330/23554a0f945c/b477603649d7/12204340001-m/12204340001-m.jpg?ts=1723622377822&w=580&f=auto"
            alt="Product Image"
          />
          <p>White Sneaker</p>
          <p class="Price">19.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/8b97/c4c5/e5864bdab506/3ea33f4d1ee8/12225440002-m/12225440002-m.jpg?ts=1728985555342&w=580&f=auto"
            alt="Product Image"
          />
          <p>Multi-piece Sneaker</p>
          <p class="Price">29.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/181e/7156/bf2447a087e5/8df60674fbd7/12310340032-m/12310340032-m.jpg?ts=1720426924094&w=580&f=auto"
            alt="Product Image"
          />
          <p>Retro Sneakers</p>
          <p class="Price">19.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/793d/87d3/0b0d418e94af/6d79bfb94d50/12220440022-m/12220440022-m.jpg?ts=1723027095498&w=580&f=auto"
            alt="Product Image"
          />
          <p>Volume Retro Sneakers</p>
          <p class="Price">25.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/daa5/d7a6/0bfc483bb733/a4541d9f813c/12240440084-m/12240440084-m.jpg?ts=1724671406747&w=580&f=auto"
            alt="Product Image"
          />
          <p>Casual Sneakers</p>
          <p class="Price">19.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/d92e/1813/df224014a20b/f79f38f1e936/12235440002-m/12235440002-m.jpg?ts=1721638225726&w=580&f=auto"
            alt="Product Image"
          />
          <p>Retro Sneakers</p>
          <p class="Price">19.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/0002/3d2e/56f64679ac17/bb92b8aada96/12701440040-m/12701440040-m.jpg?ts=1728043598898&w=580&f=auto"
            alt="Product Image"
          />
          <p>Sports Sneakers</p>
          <p class="Price">29.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/5bf7/311e/bc7c41e3b24f/751d7c67d6e1/12218440030-m/12218440030-m.jpg?ts=1724744331087&w=580&f=auto"
            alt="Product Image"
          />
          <p>Skater Sneaker</p>
          <p class="Price">29.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/be81/0744/803942e086ed/31db07be5e6b/12214440001-m/12214440001-m.jpg?ts=1721636568829&w=580&f=auto"
            alt="Product Image"
          />
          <p>Retro Bambas</p>
          <p class="Price">24.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/3416/3613/710d4a7194ec/a33db30047bb/12245440194-m/12245440194-m.jpg?ts=1729001045751&w=580&f=auto"
            alt="Product Image"
          />
          <p>Animal Print Sneakers</p>
          <p class="Price">39.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/8fa9/80cf/93c8426e855c/2b9759c19245/12702441009-m/12702441009-m.jpg?ts=1732887751074&w=580&f=auto"
            alt="Product Image"
          />
          <p>Sport Sneakers</p>
          <p class="Price">29.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/ead7/4a50/d137499e84a6/c557080b335e/12212440002-m/12212440002-m.jpg?ts=1723038375405&w=580&f=auto"
            alt="Product Image"
          />
          <p>Basket Sneakers</p>
          <p class="Price">29.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/3ee3/c00a/ebdb48a9a2dd/65c46d251724/12232440040-m/12232440040-m.jpg?ts=1724744374283&w=580&f=auto"
            alt="Product Image"
          />
          <p>Black Basic Sneakers</p>
          <p class="Price">19.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/2/photos//2024/V/1/2/p/2330/340/002/2330340002_4_1_0.jpg?imwidth=%3Awidth%3A&ts=1707811203871&w=580&f=auto"
            alt="Product Image"
          />
          <p>Treaking Sneakers</p>
          <p class="Price">49.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/68b7/33ca/0888400faa1a/074151fe8191/12217340032-m/12217340032-m.jpg?ts=1717157557269&w=580&f=auto"
            alt="Product Image"
          />
          <p>Casual Sneakers</p>
          <p class="Price">19.99 €</p>
          <button>Buy</button>
        </div>
      </div>
    </div>

    <footer>
      <div class="Footer">
        <div class="FooterContainer">
          <div class="FooterLeft">
            <p>Content</p>
            <a href="{{ url_for('About') }}">About</a>
            <a href="{{ url_for('Man') }}">Man</a>
            <a href="{{ url_for('Woman') }}">Woman</a>
            <p>Contact</p>
            <a href="mailto:info@nove.com">info@nove.com</a>
          </div>
          <div class="FooterMiddle">
            <p>&copy; 2024 Nove. All rights reserved.</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
