<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Alata&display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      href="https://raw.githubusercontent.com/Alex123434/Uni-Projects/master/favicon.ico"
      type="image/x-icon"
    />

    <title>Woman | Nove</title>
  </head>
  <body>
    // Barra de navegacion

    <div class="containerIntro">
      <nav class="nav">
        <div class="navLeft">
          <a href="{{ url_for('Home') }}"> &#x1F3E0;</a>
          <a href="{{ url_for('LogSignAcc') }}">&#x1F464;</a>
        </div>
        <a href="{{ url_for('Home') }}" class="logo">Nove</a>
        <div class="navRight">
          <input type="text" class="searchBox" placeholder="&#x1F50D; Search" />
          <a id="cart">&#x1F6D2;</a>
        </div>
      </nav>
    </div>

    // Modal del carrito de la compra

    <dialog class="cartModal">
      <h2>Your Cart</h2>
      <ul class="cartList"></ul>
      <button class="closeCart" aria-label="Close Cart">Close</button>
    </dialog>

    // Video de fondo

    <div class="PageCover">
      <video class="CoverVideo" autoplay muted loop>
        <source
          src="https://videos.pexels.com/video-files/4727641/4727641-uhd_2560_1440_25fps.mp4"
          type="video/mp4"
        />
        Your browser does not support the video tag.
      </video>
    </div>

    <p class="Title">Sneakers</p>

    // Seleccion de tipos de productos

    <div class="Products">
      <div class="ProductTag">
        <div class="Tag">
          <a href="{{ url_for('Woman') }}"><button>Bestseller</button></a>
        </div>
        <div class="Tag">
          <a href="{{ url_for('TrousersWoman') }}"><button>Trousers</button></a>
        </div>
        <div class="Tag">
          <a href="{{ url_for('DressesWoman') }}"><button>Dresses</button></a>
        </div>
        <div class="Tag">
          <a href="{{ url_for('HoodieWoman') }}"><button>Hoodies</button></a>
        </div>
      </div>
    </div>

    // Productos en la seccion

    <div class="Products">
      <div class="ProductsContainer">
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/1767/f42a/dfb44e05b7c3/6c4d4db196d4/11326440001-m/11326440001-m.jpg?ts=1721052231418&w=580&f=auto"
            alt="Product Image"
          />
          <p>Retro Sneakers</p>
          <p class="Price">25.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/c13e/2782/aaf142ab80e8/c2e1397a5c7e/11314440001-m/11314440001-m.jpg?ts=1722420817772&w=580&f=auto"
            alt="Product Image"
          />
          <p>White Sneakers</p>
          <p class="Price">14.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/e1a3/056e/8c7f4e7d8667/6afa15dfa417/11309440001-m/11309440001-m.jpg?ts=1722938314955&w=580&f=auto"
            alt="Product Image"
          />
          <p>Volume Retro Sneakers</p>
          <p class="Price">29.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/917e/5d0d/bc974c2184f7/94f7a22b11ed/11315440004-m/11315440004-m.jpg?ts=1721314020440&w=580&f=auto"
            alt="Product Image"
          />
          <p>Grey Sneakers</p>
          <p class="Price">24.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/265c/0472/02184f3a968d/da54958824ac/11308440009-m/11308440009-m.jpg?ts=1724770145296&w=580&f=auto"
            alt="Product Image"
          />
          <p>Skater Sneakers</p>
          <p class="Price">25.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/fb4e/d55d/4fd2471c9a85/e7d6a1202789/11312440001-a1m/11312440001-a1m.jpg?ts=1723038598130&w=580&f=auto"
            alt="Product Image"
          />
          <p>Retro Sneakers</p>
          <p class="Price">19.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/2/photos//2024/V/1/1/p/1321/340/002/1321340002_4_1_0.jpg?imwidth=%3Awidth%3A&ts=1709737928041&w=580&f=auto"
            alt="Product Image"
          />
          <p>Muti-piece Sneakers</p>
          <p class="Price">20.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/c4a7/28ba/b94a49a0a0ac/585dea324cc5/11308440023-m/11308440023-m.jpg?ts=1724770150594&w=580&f=auto"
            alt="Product Image"
          />
          <p>Leather Sneakers</p>
          <p class="Price">39.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/902a/6dd5/1a874d16aa6e/4df2f8fed29a/11346440004-m/11346440004-m.jpg?ts=1724925447572&w=580&f=auto"
            alt="Product Image"
          />
          <p>Sport Sneakers</p>
          <p class="Price">39.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/c309/176a/98f54fafae6f/d1c86505a844/11302440001-m/11302440001-m.jpg?ts=1731059930429&w=580&f=auto"
            alt="Product Image"
          />
          <p>Multi-pieces Retro Sneakers</p>
          <p class="Price">29.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/425a/255f/bea6456fac38/be038bc0f614/11324440201-m/11324440201-m.jpg?ts=1720609219165&w=580&f=auto"
            alt="Product Image"
          />
          <p>Animal Print Sneakers</p>
          <p class="Price">37.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/2/photos//2024/V/1/1/p/1318/340/030/1318340030_4_1_0.jpg?imwidth=%3Awidth%3A&ts=1708685590425&w=580&f=auto"
            alt="Product Image"
          />
          <p>Volume Sneakers</p>
          <p class="Price">34.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/2/photos//2024/V/1/1/p/1352/340/004/1352340004_4_1_0.jpg?imwidth=%3Awidth%3A&ts=1708515007976&w=580&f=auto"
            alt="Product Image"
          />
          <p>Multi-piece Sport Sneakers</p>
          <p class="Price">40.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/84cf/418b/a6fb4caabeaf/b9afac4b6a93/11301440004-m/11301440004-m.jpg?ts=1723641169036&w=580&f=auto"
            alt="Product Image"
          />
          <p>Skate Sneakers</p>
          <p class="Price">29.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/60a0/d2a1/c6324f5f87ef/e19f6e73dede/11307440040-m/11307440040-m.jpg?ts=1721894693128&w=580&f=auto"
            alt="Product Image"
          />
          <p>Black Sneakers</p>
          <p class="Price">19.99 €</p>
          <button>Buy</button>
        </div>
      </div>
    </div>

    // Footer

    <footer>
      <div class="Footer">
        <div class="FooterContainer">
          <div class="FooterLeft">
            <p>Content</p>
            <a href="{{ url_for('About') }}">About</a>
            <a href="{{ url_for('Man') }}">Man</a>
            <a href="{{ url_for('Woman') }}">Woman</a>
            <p>Contact</p>
            <a href="mailto:info@nove.com">info@nove.com</a>
          </div>
          <div class="FooterMiddle">
            <p>&copy; 2024 Nove. All rights reserved.</p>
          </div>
        </div>
      </div>
    </footer>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
