<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Alata&display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      href="https://raw.githubusercontent.com/Alex123434/Uni-Projects/master/favicon.ico"
      type="image/x-icon"
    />

    <title>Woman | Nove</title>
  </head>
  <body>
    <div class="containerIntro">
      <nav class="nav">
        <div class="navLeft">
          <a href="{{ url_for('Home') }}"> &#x1F3E0;</a>
          <a href="{{ url_for('LogSignAcc') }}">&#x1F464;</a>
        </div>
        <a href="{{ url_for('Home') }}" class="logo">Nove</a>
        <div class="navRight">
          <input type="text" class="searchBox" placeholder="&#x1F50D; Search" />
          <a href="{{ url_for('ShoppingCart') }}">&#x1F6D2;</a>
        </div>
      </nav>
    </div>

    <div class="PageCover">
      <video class="CoverVideo" autoplay muted loop>
        <source
          src="https://videos.pexels.com/video-files/4154245/4154245-sd_960_506_25fps.mp4"
          type="video/mp4"
        />
        Your browser does not support the video tag.
      </video>
    </div>

    <p class="Title">Trousers</p>

    <div class="Products">
      <div class="ProductTag">
        <div class="Tag">
          <a href="{{ url_for('Woman') }}"><button>Bestseller</button></a>
        </div>
        <div class="Tag">
          <a href="{{ url_for('SneakersWoman') }}"><button>Sneakers</button></a>
        </div>
        <div class="Tag">
          <a href="{{ url_for('DressesWoman') }}"><button>Dresses</button></a>
        </div>
        <div class="Tag">
          <a href="{{ url_for('HoodieWoman') }}"><button>Hoodies</button></a>
        </div>
      </div>
    </div>

    <div class="Products">
      <div class="ProductsContainer">
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/a820/a1a2/58b149d0a1fc/e67d2e3d3729/03685337800-M/03685337800-M.jpg?ts=1730901440815&w=580&f=auto"
            alt="Product Image"
          />
          <p>Skinny Flare Jeans</p>
          <p class="Price">25.00 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/a371/8b28/9b504e1da780/51fee3169d63/03687356800-M/03687356800-M.jpg?ts=1729202114170&w=580&f=auto"
            alt="Product Image"
          />
          <p>Wide Leg Jeans</p>
          <p class="Price">27.00 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/91f4/dd9e/32df4188bc20/2002c5e04396/07684315427-M/07684315427-M.jpg?ts=1729202144329&w=580&f=auto"
            alt="Product Image"
          />
          <p>High Waist Jeans</p>
          <p class="Price">24.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/74f1/d5a3/356e4d9aaa90/263667b649cc/07678385812-M/07678385812-M.jpg?ts=1725982632628&w=580&f=auto"
            alt="Product Image"
          />
          <p>Track-suit Trousers</p>
          <p class="Price">15.00 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/3bb1/eee2/56424addad3d/1b81c31a168c/07679308802-M/07679308802-M.jpg?ts=1727868385227&w=580&f=auto"
            alt="Product Image"
          />
          <p>Wide Leg Trousers</p>
          <p class="Price">19.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/5bfb/8432/e1a04fd7b951/cd9846428af0/07684370427-M/07684370427-M.jpg?ts=1724683842653&w=580&f=auto"
            alt="Product Image"
          />
          <p>Baggy Jeans</p>
          <p class="Price">29.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/6a13/f188/709f41d8968a/6c12bcd61a96/07676365802-M/07676365802-M.jpg?ts=1724679001705&w=580&f=auto"
            alt="Product Image"
          />
          <p>Grey Trousers</p>
          <p class="Price">14.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/9c22/1fd8/6f804d35924a/b78cf3beb039/07678385800-M/07678385800-M.jpg?ts=1725982615382&w=580&f=auto"
            alt="Product Image"
          />
          <p>Wide Leg Track-suit Trousers</p>
          <p class="Price">14.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/90ee/9bfc/160f4eacaf0d/bdfb5c17cc42/03683308800-M/03683308800-M.jpg?ts=1732809316122&w=580&f=auto"
            alt="Product Image"
          />
          <p>Loose Fit Jeans</p>
          <p class="Price">25.00 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/04c0/04b4/34264c8aa881/3815f21fae89/03683312041-A7M/03683312041-A7M.jpg?ts=1732707928806&w=580&f=auto"
            alt="Product Image"
          />
          <p>Leopard Print Trousers</p>
          <p class="Price">39.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/0603/9f54/4c864c73abfc/6a6b46d4c2f8/03678393800-M/03678393800-M.jpg?ts=1724773731373&w=580&f=auto"
            alt="Product Image"
          />
          <p>Basic Joggers</p>
          <p class="Price">15.00 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/e2c0/47f1/fc714ac38aac/f7403676a670/03680332922-M/03680332922-M.jpg?ts=1734436635810&w=580&f=auto"
            alt="Product Image"
          />
          <p>Straight Jeans</p>
          <p class="Price">29.00 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/638c/0fed/dd414eda96d7/32a58d1e7083/07684370426-M/07684370426-M.jpg?ts=1722934842361&w=580&f=auto"
            alt="Product Image"
          />
          <p>Oversised Jeans</p>
          <p class="Price">34.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/32f4/9437/dc6448579042/9733c8959649/07685331427-M/07685331427-M.jpg?ts=1731496194118&w=580&f=auto"
            alt="Product Image"
          />
          <p>Balloon Jeans</p>
          <p class="Price">24.99 €</p>
          <button>Buy</button>
        </div>
        <div class="Product">
          <img
            src="https://static.pullandbear.net/assets/public/98f1/af2c/b3064a45b6c5/0d1f2e32ff1e/07684356401-M/07684356401-M.jpg?ts=1722934768878&w=580&f=auto"
            alt="Product Image"
          />
          <p>Skinny Jeans</p>
          <p class="Price">18.00 €</p>
          <button>Buy</button>
        </div>
      </div>
    </div>

    <footer>
      <div class="Footer">
        <div class="FooterContainer">
          <div class="FooterLeft">
            <p>Content</p>
            <a href="{{ url_for('About') }}">About</a>
            <a href="{{ url_for('Man') }}">Man</a>
            <a href="{{ url_for('Woman') }}">Woman</a>
            <p>Contact</p>
            <a href="mailto:info@nove.com">info@nove.com</a>
          </div>
          <div class="FooterMiddle">
            <p>&copy; 2024 Nove. All rights reserved.</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
