* {

    background-color: aqua;
}

button{
    background-color: blue;
    font-size: 30px;
}

h1,h2{

    color: red;
}

#signup{

    background-color: bisque;
    color: red;
}

.tags{

    background-color: cadetblue;
    font-size: 40px;
}


.post a {

    color: violet;
}

h2 + button {

    color: red;
}

footer > a{

    color: black;
}

input[type="text"]{

    color: red;

}

button:hover{

    background-color: blue;
    color: blueviolet;
}

.post button:hover{
    
    background-color: blue;
    color: white;
}

.post button:active{

    background-color: black;
}


.post:nth-of-type(2n) {

    background-color: chocolate;
}

h2::first-letter{

    font-size: 40px;
}

h2::selection{

    color: black;
}


body{

    color: green;
}