* {

    background-color: aqua;
}

button{
    background-color: blue;
    font-size: 30px;
}

h1,h2{

    color: red;
}

#signup{

    background-color: bisque;
    color: red;
}

.tags{

    background-color: cadetblue;
    font-size: 40px;
}


.post a {

    color: violet;
}