h1 {

    color: blueviolet;
    font-weight: 900;
    text-decoration:  red  dashed overline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

h2 {

    color: aqua;
    background-color: blue;
    font-size: 70px;

}

p {

  text-align: justify;
  width: 50%;
  line-height: 6;
  letter-spacing: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {


    color: cadetblue;
    background-color: rgb(66, 34, 34);
}

