h1 {

    color: blueviolet;


}

h2 {

    color: aqua;
    background-color: blue;

}

p {

    color: bisque;
    background: orange; 
}

button {


    color: cadetblue;
    background-color: rgb(66, 34, 34);
}