body {
    background-color: #E1E5EE;
    margin: 0;
    
   
}

html {
    overflow: -moz-scrollbars-none; 
    -ms-overflow-style: none; 
}

body::-webkit-scrollbar {
    display: none; 
}



.containerIntro {
    background: linear-gradient(#2A324B,  75%, #e1e5ee 80%);
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    margin: 0;
    padding: 0;
}

.nav{

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1rem;
}

.nav a {

    text-decoration: none;
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    font-style: normal;
    color: white;
}

.nav {
    animation: fadeIn 1s ease-in-out;
    text-decoration: none;
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.nav a:hover {
    color: #767B91;
    transform: scale(1.05);
}


.homeContainer{

    display: flex;
    justify-content: center;
    align-items: center;


}
#homeTitle {
    color: white;
    text-align: center;
    width: 50%;
    padding: 2rem;
    font-size: 3.2rem;
    line-height: 1.8;
    margin: 5rem;
    transition: transform 0.3s ease-in-out;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

#homeTitle:hover {
    transform: scale(1.05);
    animation: moveRandom 0.5s infinite ease-in-out;
}

h1 {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Contact Page */

#introContact{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 5em;
    text-align:start;
    width: 50%;
    color: white;
}

.contactBody{

    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    margin: 0; 
 
}

.contactInfo{
   
    background-color: white;
    border: 2px solid ; 
    border-radius: 20px;
    color: #767B91;
    padding: 1.5em;
    width: 40em;
    height: 20em;
}

.contactInfo a {

    text-decoration: none;
    color: #767B91;
}

.contactInfo p {
    
    margin-top: 20rem;
    font-family: "Alata", sans-serif;
    font-weight: 900;
    font-style: normal;
    color: #767B91;

}

.contactLogo{
    width: 40px; 
    height: 20px; 
}

.contactPlacement{

    display: flex;
    
}

.bottom{

    margin-bottom: 2rem;
    margin-left: 3.5rem;
}

.contactPlacement p{
    margin-top: 0.1rem;
    margin-left: 1rem;
}

#contactLine{

    border: 1px solid #767B91;
    width: 40rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
   
}


#aboutTitle{

        color: white;
        text-align: center;
        width: 50%;
        padding: 2rem;
        font-size: 1.5rem;
        line-height: 1.8;
        margin: 10rem;
        transition: transform 0.3s ease-in-out;
        text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    
}