html, body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow: -moz-scrollbars-none; 
    -ms-overflow-style: none; 
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none; 
}

.nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    gap: 1rem;
    padding: 2rem; 
}

.nav a {
    text-decoration: none;
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-size: 3.5rem;
    font-style: normal;
    color: black;
}

.nav .logo {
    font-size: 3rem;
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%);
}

.navRight {
    margin-left: auto; 
    display: flex;  
    justify-content: flex-end; 
    align-items: center;
    gap: 1rem;
    margin-right: 4rem;
}

.navRight a, .navLeft a {
    font-family: 'Segoe UI Symbol', Arial, sans-serif; /* Sino se pone una font como esta, el icono no cambiara de color */
    font-size: 1.5rem;
    color: black;
    text-decoration: none;  
}


.navLeft {
    margin-left: auto; 
    display: flex;  
    justify-content: flex-start; 
    align-items: center;
    gap: 1rem;
    margin-left: 0.7rem;
}

.searchBox{

    border: 3px solid black;
    caret-color: black;
    border-radius: 20px;
    background-color: white;
    color: black;
    line-height: 1rem;
    padding: 0.2rem;
}

.searchBox::placeholder{
    font-family: 'Segoe UI Symbol', Arial, sans-serif; /* Sino se pone una font como esta, el icono no cambiara de color */
    line-height: 1rem;
    color: black;
    font-weight: bold;
}

.Selection{

    display: flex;
    justify-content: center;
    align-items: center;
}

.selectionContainer{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    width: 60%;

}

.homeImg{
    margin-top: 1.5rem;
    width: 100%;
    height: 33rem;
    border: 1px solid black;
}

.homeImg button{
    display: flex;         
    justify-content: center; 
    align-items: flex-end;
    padding: 2rem;
    background-position: cover;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-size: 2rem;
    font-weight: bold;  
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in;
    
}

.homeImg button:hover{

   transform: scale(1.02);
   cursor: pointer;
}

.homeImg a {

    text-decoration: none;
}

#Man button{
    background-image: url(https://images.pexels.com/photos/2122844/pexels-photo-2122844.jpeg?auto=compress&cs=tinysrgb&w=600);
}

#Woman button{
    background-image: url(https://images.pexels.com/photos/14008893/pexels-photo-14008893.jpeg?auto=compress&cs=tinysrgb&w=600);
}


.Title {
    font-size: 3rem;
    text-decoration: none;
    font-family: "Alata", sans-serif;
    font-weight: 400;
    color: black;
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%);
}

.Products{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.ProductsContainer{

    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5rem;

}

.Product{
    display: flex;
    flex-direction: column;
    margin-top: 0.2rem;
    
}

.Product img{
    display: flex;         
    justify-content: center; 
    align-items: flex-end;
    background-position: cover;
    background-size: cover;
    background-repeat: no-repeat;
    width: 20rem;
    height: 27rem;
    border: 1px solid #f0f0f0;
    transition: transform 0.5s ease-in;
    
}

.Product button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    width: 10rem;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 20px;
    color:  white;
    font-family: 'Roboto', sans-serif;
    background-color: black;;
    text-align: center;
    transition: background-color 0.3s, transform 0.2s;


}

.Product img:hover{
   cursor: pointer;
   transform: scale(1.02);
}

.PageCover {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    padding: 2rem;
    width: 100%;
    height: 25rem;
    overflow: hidden;
}

.CoverVideo {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1;
}

.Products{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}

.ProductTag{
    text-decoration: none;
    display: grid;;
    grid-template-columns:repeat(4, 1fr);
    gap: 1.5rem;

}

.Tag{
    text-decoration: none;
    margin-top: 0.5rem;
}

.Tag button{
    display: flex;         
    justify-content: center; 
    align-items: center;
    border: 3px solid black;
    border-radius: 40px;
    background-color: white;
    color: black;
    padding: 0.2rem;
    width: 100%;
    height: 100%;
    
}
.Products .ProductTag .Tag button {
    text-decoration: none;
    font-size: 16px;
    color: white;
    background-color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }

  .Products .ProductTag .Tag a {
    text-decoration: none; 
  }
  
  
.Tag button:hover{

   transform: scale(1.02);
}

.Product p {
    margin: 0; 
    margin-top: 0.5rem;
  }

  .Price{

    font-weight: bold;
  }
  
  .Footer{

    display: flex;
    align-items: center;
    margin-top: 10rem;
    background-color: black;
    width: 100%;
    height: 25rem;
}

.Footer a, .FooterLeft p, .FooterMiddle p{

    color: white;
    text-decoration: none;
}

.FooterLeft p{

    font-weight: bold;
    font-size: 1.5rem;
}

.FooterLeft a:hover{
    text-decoration: underline;
}

.FooterLeft a, .FooterLeft p{
    margin-left: auto; 
    display: flex;  
    justify-items: center;
    gap: 1rem;
    margin-left: 5rem;
    margin-top: 1rem;
    
}

.FooterMiddle p {
    font-size: 1.5rem;
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%);
}


.AccContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.ContainerSelection {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 25rem;
    height: 25rem;
    border: 2px solid black;
    border-radius: 20px;
    position: relative; 
}

.AccBtn {
    padding: 0.5rem 2rem;
    font-size: 2.5rem;
    font-weight: bold;
}

.AccBtn button {
    width: 10rem;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 20px;
    color:  white;
    font-family: 'Roboto', sans-serif;
    background-color: black;;
    text-align: center;
    transition: background-color 0.3s, transform 0.2s;
}

.AccBtn button:hover {
    background-color: #333;
    transform: scale(1.05);
}

.AccBack {
    bottom: 1rem; 
    right: 1rem; 
}

.ContainerSelection hr {
    width: 10rem;
    margin: 0.2rem 0;
}


.AboutContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.AbtCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    width: 50%;
    font-family: 'Roboto', sans-serif;
    border-radius: 20px;
    position: relative; 
}

.AccountLogSig{

    background-color: #f5f5f5;
}

form .InputGroup{

    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
}


.InputBox{

    border: 3px solid black;
    caret-color: black;
    border-radius: 20px;
    background-color: #f5f5f5;
    text-align: center;
    color: black;
    line-height: 1rem;
    padding: 0.2rem;


}

.SignUpBtn{

    width: 10rem;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 20px;
    color:  white;
    font-family: 'Roboto', sans-serif;
    background-color: black;;
    text-align: center;
    transition: background-color 0.3s, transform 0.2s;

}

.SignUpBtn:hover {
    background-color: #333;
    transform: scale(1.05);
}

label{

    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem;
}


#SignUpEmail{

    width: 20rem;
}

