body {
    background-color: #E1E5EE;
    margin: 0;
   
}

.containerIntro{
    background: linear-gradient(to bottom right, #2A324B 60%, #E1E5EE 50%);
    height: 100vh;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-right: 5em;
    font-size: 1.2em;
    gap: 1em;
    color: white;
    margin-bottom: 4em;
}

.nav a {
    text-decoration: none;
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.nav a:hover {
    color: #767B91  ;
}

#intro{
    margin-left: 2em;
    font-size: 1.6em;
    text-align:start;
    width: 50%;
    color: white;
}

#logo {
    width: 50px; 
    height: auto; 
    display: block; 
    margin-right: auto;
    margin-left: 1.5em;
    
}
